<template name="notifications">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Notifications
		{{#if notificationCount}}
			<span class="badge badge-inverse">{{notificationCount}}</span>
		{{/if}}
		<b class="caret"></b>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
		<a class="marked" href="#">Mark as read</a>
			{{#each notifications}}
				{{> notification}}
			{{/each}}
		{{else}}
			<li><span>No new notifications</span></li>
		{{/if}}
	</ul>
	
</template>


<template name="notification">
	<li>
		{{#if openerName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{displayDate timestamp}}: <strong>{{getUser openerId openerName}}</strong> opened a post related to you
			</a>
		{{/if}}
		{{#if subscribedUserName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{displayDate timestamp}}: <strong>{{getUser subscribedUserId subscribedUserName}}</strong> subscribed to a post related to you
			</a>
		{{/if}}
		{{#if unSubscribedUserName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{displayDate timestamp}}: <strong>{{getUser unSubscribedUserId unSubscribedUserName}}</strong> unsubscribed from a post related to you
			</a>
		{{/if}}
		{{#if postedUserName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{displayDate timestamp}}: <strong>{{getUser postedUserId postedUserName}}</strong> posted a new post
			</a>
		{{/if}}			
		{{#if closerName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{displayDate timestamp}}: <strong>{{getUser closerId closerName}}</strong> closed a post related to you
			</a>
		{{/if}}
		{{#if commenterName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{displayDate timestamp}}: <strong>{{getUser commentId commenterName}}</strong> commented on a post related to you
			</a>
		{{/if}}
	</li>
</template>




