<template name="notifications">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		{{notificationCount}} notifications.
		<b class="caret"></b>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
		<a class="marked" href="#">Mark as read</a>
			{{#each notifications}}
				{{> notification}}
			{{/each}}
		{{else}}
			<li><span>No new notifications</span></li>
		{{/if}}
	</ul>
	
</template>


<template name="notification">
	<li>
		{{#if openerName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{issueShortDesc}} was <b>opened</b> {{displayDate timestamp}}.
			</a>
		{{/if}}
		{{#if postedUserName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{issueShortDesc}} was <b>reported</b> {{displayDate timestamp}}.
			</a>
		{{/if}}			
		{{#if closerName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{issueShortDesc}} was <b>closed</b> {{displayDate timestamp}}.
			</a>
		{{/if}}
		{{#if commenterName}}
			<a href="{{pathFor 'referIssuePage' _id = this.issueId}}">
			{{issueShortDesc}} <b>received a new comment</b> {{displayDate timestamp}}.
			</a>
		{{/if}}
	</li>
</template>




