<template name="notifications">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Notifications
		{{#if notificationCount}}
			<span class="badge badge-inverse">{{notificationCount}}</span>
		{{/if}}
		<b class="caret"></b>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
		<a class="marked" href="#">Mark as read</a>
			{{#each notifications}}
				{{> notification}}
			{{/each}}
		{{else}}
			<li><span>No Notifications</span></li>
		{{/if}}
	</ul>
	
</template>


<template name="notification">
	<li>
		{{#if openerName}}
			<a href="{{pathFor 'issuePage' params = issueId}}">
			<strong>{{openerName}}</strong> has opened the post related to you
			</a>
		{{/if}}
		{{#if subscribedUserName}}
			<a href="{{pathFor 'issuePage' params = issueId}}">
			<strong>{{subscribedUserName}}</strong> has subscribed the post related to you
			</a>
		{{/if}}
		{{#if unSubscribedUserName}}
			<a href="{{pathFor 'issuePage' params = issueId}}">
			<strong>{{unSubscribedUserName}}</strong> has unsubscribed the post related to you
			</a>
		{{/if}}
		{{#if postedUserName}}
			<a href="{{pathFor 'issuePage' params = issueId}}">
			<strong>{{postedUserName}}</strong> has posted a new post
			</a>
		{{/if}}			
		{{#if closerName}}
			<a href="{{pathFor 'issuePage' params = issueId}}">
			<strong>{{closerName}}</strong> has closed the post related to you
			</a>
		{{/if}}
		{{#if commenterName}}
			<a href="{{pathFor 'issuePage' params = issueId}}">
			<strong>{{commenterName}}</strong> commented on the post related to you
			</a>
		{{/if}}
	</li>
</template>




