<template name="footer">
	<div class="footer">
		<div class="floatRight">
			<img src="NUH_logo2.png" alt="Nottingham University Hospital Trust">
			<a href="http://www.horizon.ac.uk/Current-Projects/say-it-today"><img src="horizon_logo.png" alt="Horizon Digital Economt Research"></a>
			<img src="nottUni_logo2.png" alt="University of Nottingham">
		</div>
		<div class="footerContent">
			<p>Horizon Digital Economy Research, University of Nottingham Innovation Park, Triumph Road, Nottingham, NG7 2TU</p>
			<p><a href="mailto:horizon@nottingham.ac.uk">horizon@nottingham.ac.uk</a>   Office: +44 0115 8232554   Fax: +44 0115 8232551</p>
		</div>
	</div>
</template> 
