/*Based on CSS from Discover Meteor book*/

body {
  background: #eee;
  color: #666666;
  font-size: large;
}
grid-block, .main, .issue, .comments li, .comment-form {
  background: #fff;
  border-radius: 1% ;
  padding: 0.5%;
  margin-bottom: 1%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar-inner {
  border-radius: 1%;
  padding:0.5%;
}
#spinner { height: 300px }
.issue {
  *zoom: 1;
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
  transition: all 300ms 0ms ease-in;
  position: relative;
  opacity: 1;
}
.issue:before, .issue:after {
  content: "";
  display: table;
}
.issue:after { clear: both }
.issue.invisible { opacity: 0 }
.issue .upvote {
  display: block;
  margin: 1% 1% 0 0;
  float: left;
}
.issue .issue-content { float: left }
.issue .issue-content h3 {
  margin: 0;
  color: #880000;
}
.issue .issue-content h3 a {
  display: inline-block;
  margin-right: 1%;
}
.issue .issue-content h3 span {
  font-weight: normal;
  font-size: large;
  /*display: inline-block;*/
  color: #aaaaaa;
}
.issue .issue-content p { margin: 0 }
.issue .details {
  display: block;
  float: right;
  margin-top: 1%;
}
.comments {
  list-style-type: none;
  margin: 0;
}
.comments li h4 {
  font-size: x-large;
  margin: 0;
}
.comments li h4 .date {
  font-size: medium;
  font-weight: normal;
}
.comments li h4 a { font-size: large }
.comments li p:last-child { margin-bottom: 0 }
.dropdown-menu span {
  display: block;
  padding: 0.5% 3%;
  clear: both;
  line-height: 3%;
  color: #bbb;
  white-space: nowrap;
}
.load-more {
  display: block;
  border-radius: 0.5%;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 1%;
}
.load-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}

/*JB additions*/
.container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 98%;
  }
.navbar {
	margin-top: 0.5%;
}
table, input[type=submit]{  
    margin-left: 2%;
}
table {
    border-spacing: 1%;
    border-collapse: separate;
    width: 50%;
}
input[type=text],input[type=date],input[type=time], input[type=submit], select, label, textarea, legend, h3, .btn{
  font-size: x-large;
}
input[type=text],input[type=date],input[type=time]{
  -webkit-appearance: none; 
  -moz-appearance: none;
  display: block;
  margin-bottom: 5%;
  width:90%;
  height: 50px;
  line-height: 50px;
  border: 1% solid;
}
input[type=submit] {
  height: 50px;
  margin-top: 1%;
}
select  {
  height: 50px;
  line-height: 50px;
}
label  {
  font-weight: bold;
}
.btn{
  padding:1%;
}