/*Based on CSS from Discover Meteor book*/

body {
  background: #fafafa;
  color: #666666;
  font-size: large;
}
grid-block, .main, .issue, .comments li, .comment-form, .closedIssue {
  background: #fff;
  border-radius: 1% ;
  padding: 0.5%;
  margin-bottom: 1%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.fill {
  background: #fff;
  border-radius: 1% ;
  padding: 0.5%;
  margin-bottom: 1%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

/*
.navbar .navbar-inner {
border-radius: 0px 0px 3px 3px;
}*/

.navbar-inner {
  border-radius: 1%;
  padding:0.5%;
}

#spinner { height: 300px }
.issue, .closedIssue {
  *zoom: 1;
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
  transition: all 300ms 0ms ease-in;
  position: relative;
  opacity: 1;
}
.issue:before, .issue:after, .closedIssue:after, .closedIssue:before {
  content: "";
  display: table;
}
.issue:after, .closedIssue:after { clear: both }
.issue.invisible, .closedIssue.invisible { opacity: 0 }
.issue .upvote {
  display: block;
  margin: 1% 1% 0 0;
  float: left;
}

.issue .issue-content { float: left }

.closedIssue .closedIssue-content { float: left }

.closedIssue .closedIssue-content h3 {
  margin: 0;
  color: #880000;
}
.closedIssue .closedIssue-content h3 a {
  display: inline-block;
  margin-right: 1%;
}

.closedIssue .closedIssue-content h3 span {
  font-weight: normal;
  font-size: large;
  /*display: inline-block;*/
  color: #aaaaaa;
}

.closedIssue .closedIssue-content p { margin: 0 }
.closedIssue  .closedIssue-content h3 {
  display: block;
  float: right;
  margin-top: 1%;
}

.closedIssue .det {
  display: block;
  float: right;
  margin-top: 1%;
  margin-right: 1.5%;
}

.closedIssue .details {
  display: block;
  float: right;
  margin-top: 1%;
}

.issue .issue-content h3 {
  margin: 0;
  color: #880000;
}
.issue .issue-content h3 a {
  display: inline-block;
  margin-right: 1%;
}
.issue .issue-content h3 span {
  font-weight: normal;
  font-size: large;
  /*display: inline-block;*/
  color: #aaaaaa;
}

.issue .issue-content h3 span .check {
  font-weight: normal;
  font-size: large;
  /*display: inline-block;*/
  /*color: #aaaaaa;*/
  float:right;
}

.issue .issue-content p { margin: 0 }
.issue .details {
  display: block;
  float: right;
  margin-top: 1%;
}
.comments {
  list-style-type: none;
  margin: 0;
}
.comments li h4 {
  font-size: x-large;
  margin: 0;
}
.comments li h4 .date {
  font-size: medium;
  font-weight: normal;
}
.comments li h4 a { font-size: large }
.comments li p:last-child { margin-bottom: 0 }
/*.dropdown-menu span {
  display: block;
  padding: 0.5% 3%;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
} */

.dropdown-menu span {
display: block;
padding: 3px 20px;
clear: both;
line-height: 20px;
color: #bbb;
white-space: nowrap;
}

.load-more {
  display: block;
  border-radius: 0.5%;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 1%;
}
.load-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}

/*JB additions*/
.container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    background: #eee;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -4em;
  }
.navbar {
  margin-bottom: 10px;
}
table, input[type=submit]{  
    margin-left: 2%;
}
table {
    border-spacing: 0;
    border-collapse: separate;
    width: 50%;
}
input[type=text],input[type=date],input[type=time], input[type=submit], select, label, textarea, legend, h3, .btn, .buton{
  font-size: x-large;
}
input[type=text],input[type=date],input[type=time]{
  -webkit-appearance: none; 
  -moz-appearance: none;
  /*margin-bottom: 5%;
  width:90%;*/

  height: 50px;
  line-height: 50px;
  border: 1% solid;
}
input[type=text],
textarea {
  width: 445px;
}
textarea {
  height: 100px;
}
fieldset{
  display: inline;  
}
input[type=submit] {
  height: 50px;
  margin-top: 1%;
}
select  {
  height: 50px;
  line-height: 50px;
}
label  {
  font-weight: bold;
}
#datetime .controls{
  display: inline-block;
}

.btn{
  padding:1%;
}

.buton{
  padding:0.45%;
}

.closedIssue .destroy {
    cursor: pointer;
    position: absolute;
    left: 0.5px;
    top: 15px;
    height: 20px;
    width: 20px;
}

.closedIssue .closedIssue-content {
    margin-left: 30px;
    height: 80%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

 
.issue .destroy {
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 35px;
    height: 20px;
    width: 20px;
}


.closedIssue:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

.closedIssue .destroy:hover {
    background-position: 10 10;
}


.issue .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

.issue .destroy:hover {
    background-position: 10 10;
}

.issue .issue-content {
    margin-left: 40px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

.issue .issue-content .check {
    float: left;
    width: 25px;
}

.footer {
	background-image: linear-gradient(to bottom,  #fafafa, #fff);
	width: 100%;
	height: 4em;
	text-align: center
}

.push {
	height: 4em;
}

#brand1, #brand2  {
	display: inline;
}
