<template name="commentSubmit">
	<form name="comment" class="comment-form">
		<div class="control-group">
			<div class="controls">
				<div class="comment leftColumn">
					<fieldset class="formField">
						<textarea name="body" id="body"></textarea>
						<label for="body">Comment on this issue</label>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="control-group" style="clear:left">
			<div class="controls">
				<button type="submit" class="btn">Add Comment</button>
				<label for="anonymous" style="margin-left:1rem; display:inline-block">Anonymous?</label>
				<input type="checkbox" name="anonymous" id="anonymous" value="anonymous" style="display:inline-block">
			</div>
		</div>
	</form>
</template>
