<template name="account">
	<label for="email">Email Address</label><input type="email" name="email" required="true" id="email" value="{{email}}"><br>
	{{#if currentUser}}
		<h4>Please fill in these fields if you want to change your password:</h4><br>
		<label for="oldPassword">Old Password</label> 
		<input type="password" name="oldPassword" id="password"><br>
	{{/if}}
	<label for="password">Password</label> 
	<input type="password" name="password" id="password" placeholder="Has to be at least 6 characters long"><br>
	<label for="passwordConfirm">Confirm Password</label> 
	<input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Has to match password"><br>
	<!-- Security question <select name="securityQuestion">
		<option value="">Please select a security question</option>
		<option value="maidenName">Mother's maiden name</option>
		<option value="petName">Name of pet</option>
		<option value="primSch">Primary school name</option>
	</select><br>
	Answer <input type="text" name="answer" required="true"><br> -->
	{{#if currentUser}}
	<input type="submit" class="det btn" value="Update">
	<input type="button" class="reset det btn" value="Reset">
	{{else}}
	<input type="submit" class="det btn" value="Submit">
	<input type="reset" class ="det btn" value="Clear">
	<a class="details btn" href="{{pathFor 'home'}}">Cancel</a>
	{{/if}}
</template>