<template name="closedIssues">
	<div class="main">
		<h1>Closed Issues</h1>
	</div>
	<div class="closedIssues">
	<form class="main">
		<fieldset class="formField">
			<input id="textbox" name="keyword" type="text" value="">
			<label class="control-label" for="textbox">Search closed issues by keyword</label>
			<input id = "search" type="submit" value="Search" class="btn btn-primary"/>
			<!-- <div class="control-group">
				<div class="controls"> 
				</div>
			</div> -->
		</fieldset>
	</form>
	{{#if findSeachedIssues}}
		{{#each searchedIssues}}
			{{> closedIssue}}
		{{/each}}
	{{else}}
		{{#each closedIssues}}
			{{> closedIssue}}
		{{/each}}
	{{/if}}
	{{#if issuesReady}}
		{{#unless allIssuesLoaded}}
			<a class="load-more" href="#">See more issues</a>
		{{/unless}}
		{{else}}
			<div>{{> spinner}}</div>
	{{/if}} 	
		
	</div>
</template>
