<template name="closedIssue">	
	<div class="closedIssue" >
		<!--<div class="destroy"></div>-->
		<div>
			<a href="{{pathFor 'closedIssuePage' params = this}}" class="details btn">See Details</a>
			<input type="button" value="Reopen" id="press" class="det btn">
		</div>
		<div class="closedIssue-content">
			<!-- <input class="check" name="markdone" type="checkbox" {{{done_checkbox}}} /> -->
        	<h3><a href="{{pathFor 'issuePage' params = this}}">{{shortdesc}}</a>- {{#if notAnon postedUser}}<span>submitted by {{postedUser}}, </span>{{/if}} <span>{{location}}</span><br><span>Submitted {{whenSubmitted}}</span>
        	</h3>
			<p>
				<a href="{{pathFor 'closedIssuePage' params = this}}">{{commentsCount}} comments</a>
			</p>
		</div>
	</div>
</template>