<template name="closedIssues">
	<div class="main">
		<h1>Closed Issues</h1>
	</div>
	<div class="closedIssues">
	<fieldset>
		<form class="main">
			<table>
				<tr>
					<td> 
						<!--<label class="control-label" for="keyword">&nbsp;Add Keyword</label>-->
						<input id="textbox" name="keyword" type="text" value="" placeholder="Search" />
					</td>
					<td> 
						<div class="control-group">
							<div class="controls"> 
								<input id = "search" type="submit" value="Search" class="btn btn-primary"/>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</fieldset>
	{{#if findSeachedIssues}}
		{{#each searchedIssues}}
			{{> closedIssue}}
		{{/each}}
	{{else}}
		{{#each closedIssues}}
			{{> closedIssue}}
		{{/each}}
	{{/if}}
	{{#if issuesReady}}
		{{#unless allIssuesLoaded}}
			<a class="load-more" href="#">See more issues</a>
		{{/unless}}
		{{else}}
			<div>{{> spinner}}</div>
	{{/if}} 	
		
	</div>
</template>
