<template name="closedIssues">
	<div class="closedIssues">
	<fieldset>
		<form class="fill">
			<table>
				<tr>
					<td> 
						<!--<label class="control-label" for="keyword">&nbsp;Add Keyword</label>-->
						<input id="textbox" name="keyword" type="text" value="" placeholder="Search" />
					</td>
					<td> 
						<div class="control-group">
							<div class="controls"> 
								<input id = "search" type="submit" value="Search" class="btn btn-primary"/>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</fieldset>
	{{#if findSeachedIssues}}
		{{#each searchedIssues}}
			{{> closedIssue}}
		{{/each}}
	{{else}}
		{{#each closedIssues}}
			{{> closedIssue}}
		{{/each}}
	{{/if}}
		
		
	</div>
</template>
