<template name="closedIssue">	
	<div class="closedIssue" >
		<!--<div class="destroy"></div>-->
			<div class="closedIssue-content">
				<!-- <input class="check" name="markdone" type="checkbox" {{{done_checkbox}}} /> -->
        			<h3>{{shortdesc}}- <span>submitted by {{author}}</span> <span>{{dept}}</span> <span>{{unit}}</span> <span>{{room}}</span>
        			</h3>
					<p>
						<a href="{{closedIssuePagePath this}}">{{commentsCount}} comments</a>
					</p>
				</div>

				<a href="{{closedIssuePagePath this}}" class="details btn">See Details</a>
				<input type="button" value="Reopen" id="press" class="det buton">
			</div>
	</div>
</template>