
<template name="fullIssue">	
	<div class="issue">
		<div class="fullIssue-content">
			<h3>
				{{shortdesc}} &#09; {{#if notAnon postedUser}}<span>submitted by {{postedUser}}, </span>{{/if}}
			</h3>
			<p>
					<strong>Time Reported:</strong> {{date}}, {{time}} {{#if ongoing}}&nbsp;(ongoing issue){{/if}}&nbsp;<strong>Location:</strong> {{location}}
			</p>
			<p><strong>Details: </strong>{{details}}</p>
			{{#if issueClosed}}
				<input type="button" class="btn buton" id="reopen" value="Reopen Issue" style="float: right;">
			{{else}}
					<input type="button" class="btn buton" id="close" value="Close Issue" style="float: right; padding:1%">
			{{/if}}
		</div>
	</div>
	<h4>
		{{commentsCount}} comments
	</h4> 
</template>
