<template name="grumble">
    <h1>Report Minor Issue</h1>
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="anonymous">Anonymity</label>
            <div class="controls">
                <select name="anonymous" >
                    <option value="anonymous">Anonymous</option>
                    <option value="identifiable">Identifiable</option>
                </select>
            </div>
        </div>
        <fieldset>
            <div class="control-group" id="datetime">
                <div class="controls">
                    <label class="control-label" for="date">Date</label>
                    <input name="date" type="date" value="{{date}}" />       
                </div>
                <div class="controls">                
                    <label class="control-label" for="time">Time</label>
                    <input name="time" type="time" value="{{time}}" />
                </div>
            </div>
        </fieldset>
        <div class="control-group">
            <label class="control-label" for="location">Location</label>
            <div class="controls">
                <input name="location" type="text" value="" />    
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="details">Please describe the issue</label>
            <div class="controls">
                <textarea name="shortdesc" value=""></textarea>   
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template> 