<template name="grumble">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="anonymous">Anonymity</label>
            <div class="controls">
                <select name="anonymous" >
                    <option value="anonymous">Anonymous</option>
                    <option value="identifiable">Identifiable</option>
                </select>
            </div>
        </div>
        <fieldset>
            <div class="control-group" id="datetime">
                <div class="controls">
                    <label class="control-label" for="date">Date</label>
                    <input name="date" type="date" value="{{date}}" />       
                </div>
                <div class="controls">                
                    <label class="control-label" for="time">Time</label>
                    <input name="time" type="time" value="{{time}}" />
                </div>
            </div>
        </fieldset>
        <div class="control-group" id="location">
            <label class="control-label" for="location">Location</label>
            <div class="controls">
                <label for="unit">Unit</label>
                <input name="unit" type="text" value="{{unit}}" class="location">
            </div>
            <div class="controls">
                <label for="department">Department</label>
                <input name="department" type="text" value="{{department}}" class="location">
            </div>
            <div class="controls">
                <label for="room">Room</label>
                <input name="room" type="text" value="{{room}}" class="location">    
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="details">Please describe the issue</label>
            <div class="controls">
                <textarea name="shortdesc" value=""></textarea>   
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template> 
