<template name="home">
	<div class="logoContainer">
		<img class="logo" src="" alt="Sayit. Today Logo">
		<p>In association with</p>
		<img class="logo" src="NUH_logo.jpg" alt="NUH Logo">
		<img class="logo" src="horizon_logo.png" alt="Horizon Logo">
		<img class="logo" src="nottUni_logo.png" alt="University of Nottingham Logo">
	</div>
	
	<p>Welcome to Sayit. Today, an incident reporting system for the Nottingham University Hospital. Here, you can report any minor incidents and other issues, and they will be sent to the apporiate member of staff. Alternatively, if you are that appropriate member of staff, you can view the list of issues relevant to your area of expertise.</p>
</template>
