<template name="home">
	<div class="logoContainer">
		<img class="logo" src="" alt="Sayit.Today">
		<p>In association with</p>
		<img class="logo" src="NUH_logo.jpg" alt="Nottingham University Hospital Trust">
		<img class="logo" src="horizon_logo.png" alt="Horizon">
		<img class="logo" src="nottUni_logo.png" alt="University of Nottingham">
	</div>
	
	<p>Welcome to Sayit.Today, an issue reporting system for the Nottingham University Hospital Trust. Here, you can report issues and view those relevent to your own experience.</p>

	<h3>Login or Create an Account</h3>
	{{> login}}
	
</template>
