<template name="issues">
	<table class="main" style="margin-left: 0; width:100%"><tr>
		<td><h1>Current Issues</h1></td>
		<td>
			<form method="post">
				<fieldset class="formField">
					<input id="search_textbox" name="keyword" type="text" value="{{keyphrase}}">
					<label class="control-label" for="search_textbox">Search issues by keyphrase</label>
					<input id="search" type="submit" value="Search" class="btn btn-primary"/>
				</fieldset>
		</form>
	</td></tr></table>
	<div class="issues">
	
	{{#if findSeachedIssues}}
		{{#each searchedIssues}}
			{{> issue}}
		{{/each}}
	{{else}}
		{{#each issues}}
			{{> issue}}
		{{/each}}
	{{/if}}

	{{#if issuesReady}}
		{{#unless allIssuesLoaded}}
			<a class="load-more" href="#">See more issues</a>
		{{/unless}}
		{{else}}
			<div>{{> spinner}}</div>
	{{/if}} 
		
	</div>
</template>
