<template name="issues">
	<div class="main">
		<h1>Current Issues</h1>
	</div>
	<div class="issues">
	<form class="main" method="post">
		<div class="searchBar">
			<fieldset class="formField">
				<input id="search_textbox" name="keyword" type="text" value="{{keyphrase}}">
				<label class="control-label" for="search_textbox">Search issues by keyword</label>
				<input id="search" type="submit" value="Search" class="btn btn-primary"/>
			</fieldset>
		</div>
	</form>
	{{#if findSeachedIssues}}
		{{#each searchedIssues}}
			{{> issue}}
		{{/each}}
	{{else}}
		{{#each issues}}
			{{> issue}}
		{{/each}}
	{{/if}}

	{{#if issuesReady}}
		{{#unless allIssuesLoaded}}
			<a class="load-more" href="#">See more issues</a>
		{{/unless}}
		{{else}}
			<div>{{> spinner}}</div>
	{{/if}} 
		
	</div>
</template>
