<template name="issue">	
	<div class="issue" > <!--{{done_class}}-->
		<!-- <div class="destroy"></div> -->
		<div>
			<input type="button" value="Close issue" id="close" class="det btn">
			<a href="{{pathFor 'issuePage' params = this}}" class="details btn" style="margin-right:5px">See Details</a>
		</div>
		<div class="issue-content">
			<h3><a href="{{pathFor 'issuePage' params = this}}">{{shortdesc}}</a>- <span>{{location}}</span><br><span>Submitted {{whenSubmitted}}</span></h3>
			<p>
				<a href="{{pathFor 'issuePage' params = this}}">{{commentsCount}} comments</a>
			</p>
		</div>
	</div>
</template>


