<template name="issues">
	<div class="main">
		<h1>Current Issues</h1>
	</div>
	<div class="issues">
	<fieldset>
		<form class="main">
			<table>
				<tr>
					<td>
						<fieldset class="formField">
							<input id="textbox" name="keyword" type="text" value="">
							<label class="control-label" for="textbox">Search issues by keyword</label>
						</fieldset>
					</td>
					<td>
						<div class="control-group">
							<div class="controls">
								<input id = "search" type="submit" value="Search" class="btn btn-primary"/>
							</div>
						</div>
					</td>
					
				</tr>
			</table>
		</form>
	</fieldset>
	{{#if findSeachedIssues}}
		{{#each searchedIssues}}
			{{> issue}}
		{{/each}}
	{{else}}
		{{#each issues}}
			{{> issue}}
		{{/each}}
	{{/if}}

	{{#if issuesReady}}
		{{#unless allIssuesLoaded}}
			<a class="load-more" href="#">See more issues</a>
		{{/unless}}
		{{else}}
			<div>{{> spinner}}</div>
	{{/if}} 
		
	</div>
</template>
