
<template name="issuePage">
	{{#with currentIssue}}
		{{> fullIssue}}

	<fieldset style="width:100%">
		<form class="main">
			<table>
				<tr>
					<td>
						<input id="textbox" name="keyword" type="text" value="" placeholder="Search comments"/>
					</td>
					<td>
						<div class="control-group">
							<div class="controls">
								<input id = "search" type="submit" value="Search" class="btn btn-primary"/>
							</div>
						</div>
					</td>
					
				</tr>
			</table>
		</form>
	</fieldset>

		<ul class="comments">
			{{#if findSeachedComments}}
				{{#each searchedComments}}
					{{> comment}}
				{{/each}}
			{{else}}
				{{#each comments}}
					{{> comment}}
				{{/each}}
			{{/if}}
		</ul>
		{{> commentSubmit}}
	{{/with}}
</template>
