<template name="login">
	<form>
		<div class="control-group">
			<div class="controls">
				<a class="details btn buton" href="{{pathFor 'signup'}}">Create Account</a><br>
				<fieldset style="">
  				<legend>Login:</legend>
					email:<br><input type="email" name="id" id="id" required="true">
					<br>
					password:<br><input type="password" name="password" id="password" required="true">	<input type="submit" class="details btn buton" value="Login">
					<a class="forgot details btn buton">Forgot Password?</a><br>
				</fieldset>
			</div>
		</div>
	</form>
</template>