<template name = "report">
	<h1>Report Minor Issue</h1>
	<h3> Serious Incidents should be reported to Datix; this form is designed for minor issues</h3>
	{{> studyInfo}}
	<p>It is recommended that you only write about one incident per report for simplicity reasons. You have the option of submitting this report anonymously. Whilst this information will not be visible to other staff members nor the manager who reviews the report, your name will still be recorded in the report database.</p>
	{{> grumble}}
</template>
