<template name = "report">
	<h1>Report Minor Issue</h1>
	<h3> Serious Incidents should be reported to Datix; this form is designed for minor issues</h3>
	<p>This form can be used to report issues that may affect the quality of patient care and the maintenance of the hospital. By identifying normally unreported issues, this system hopes to reduce risk and save money.</p>
	<p>It is recommended that you only write about one issue per report for simplicity reasons. You have the option of submitting this report anonymously. Whilst this information will not be visible to other staff members nor the manager who reviews the report, your name will still be recorded in the report database. For extra information about the study, please visit <a href="{{pathFor 'modifyAccount'}}">this</a> page.</p>
	{{> grumble}}
</template>
