<template name="signUp">
	{{> studyInfo}}
	<form>
		<div class="main">
			<div class="floatLeft">
				<input type="checkbox" class="spacing" name="readInfo" id="readInfo" required="true"> <label for="readInfo">I have read and understood the participation information sheet.</label>
			</div>
			<br>
			<div class="floatLeft">
				<input type="checkbox" class="spacing" name="consent" id="consent" required="true"> <label for="consent">I allow the information that I provide using Sayit.Today to be stored and utilised for the purposes outlined in the information sheet.</label> 
			</div><br>
		</div>
		{{> account}}
	</form>
</template>