<template name="signUp">
	{{> studyInfo}}
	<form>
		<div class="main">
			<div class="floatLeft">
				<label for="readInfo">I have read and understood the participation information sheet</label>
			</div>
			<div>
				<input type="checkbox" class="spacing" name="readInfo" id="readInfo" required="true">
			</div><br>
			<div class="floatLeft">
				<label for="consent">I consent to allowing the information that I provide whilst using Sayit. Today to be stored and utilised for the purposes outlined in the information sheet</label>
			</div>
			<div>
				<input type="checkbox" class="spacing" name="consent" id="consent" required="true">
			</div><br>
		</div>
		{{> account}}
	</form>
</template>