<template name="subscribedKeyword">	
	<div class="issue" > 
		<div class="issue-content">
			<!--<h3>{{category}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h3><input id='gg' class="check" name="markdone" type="checkbox"  {{{done_checkbox}}} />Get Notifications
-->
			<!-- <span>{{dept}}</span> <span>{{unit}}</span> <span>{{room}}</span></h3>
					<p>
						<a href="{{issuePagePath this}}">{{commentsCount}} comments</a>
					</p>
				</div>
				<a href="{{issuePagePath this}}" class="details btn">See Details</a> -->
		</div>
	</div>
</template>