<template name="notificationsPage">
	<div class="main">
		<h2>Create Subscriptions</h2>
		<p>Here you can add topics that will search through the listed issues and identify ones related to your area of interest. For example, if you add the keyword 'Accident and Emergency', it will search for any issues containing the words 'Accident and Emergency' in them and notify you of any changes made to those issues. To get started, simply enter a keyword/phrase to search for in the bar below</p>
	</div>
	{{> subscribedKeywords}}
	<div class="main">
		<h2>Notifications</h2>
	</div>
	<ul class="comments">
		{{#each NotificationList}}
			<div class="issue">
				{{> notification}}
			</div>
		{{/each}}
	</ul>
</template>