<template name="notificationsPage">
	<div class="main">
		<h2>Add Keyphrases for Notification</h2>
		<div class="indent">
			<p>Here you can add topics that will search through the listed issues and comments, and identify ones related to your area of interest. For example, if you add the keyphrase 'Accident and Emergency', it will search for any issues/comments containing the words 'Accident and Emergency' in them and notify you of any changes made to those issues. To get started, simply enter a keyword/phrase to search for in the bar below</p>
		</div>
	</div>
	{{> subscribedKeywords}}
	<div class="main">
		<h2>Notifications</h2>
	</div>
	<ul class="comments">
		{{#each NotificationList}}
			<div class="issue">
				{{> notification}}
			</div>
		{{/each}}

		{{#if notificationsReady}}
			{{#unless allNotificationsLoaded}}
				<a class="load-more" href="#">See more notifications</a>
			{{/unless}}
		{{else}}
			<div>{{> spinner}}</div>
		{{/if}} 
	</ul>
</template>