<template name="notificationsPage">
	<table style="margin-left: 0; border-collapse: separate; border-spacing: 5px;"><tr>
	<td style="vertical-align: top; width: 75%;">
		<div class="main" style="margin-top: 0;">
			<h2>Notification Keyphrases</h2>
		</div>
		{{> subscribedKeywords}}
	</td>
	<td style="vertical-align: top;">
		<div class="main" style="margin-top: 0;">
			<h2>Notifications</h2>
		</div>
		<ul class="comments">
			{{#each NotificationList}}
					{{> notification}}
			{{/each}}

			{{#if notificationsReady}}
				{{#unless allNotificationsLoaded}}
					<a class="load-more" href="#">See more notifications</a>
				{{/unless}}
			{{else}}
				<div>{{> spinner}}</div>
			{{/if}} 
		</ul>
	</td></tr></table>
</template>