<template name="subscribedKeywords">
	<div class="issues">
		<form class="main">
			<fieldset class="formField">
				<input name="keyword" id="keyword" type="text" value="">
				<label class="control-label" for="keyword">Add key phrases to receive issues and comment notifications.</label>
				<input id="keyword_submit" type="submit" value="Submit" class="btn btn-primary"/>
			</fieldset>
			<p class="indent"></p>
		</form>
		{{#each subscribedKeywords}}
			{{> subscribedKeyword}}
		{{/each}}
	</div>
</template>
