<template name="subscribedKeywords">
	<div class="issues">
	<fieldset>
		<form class="main">
			<table>
				<tr>
					<td>
						<label class="control-label" for="keyword">&nbsp;Add Keyword</label>
						<input name="keyword" type="text" value="" placeholder="Add your Keyword"/>
					</td>
					<td>
						<div class="control-group">
							<div class="controls">
								<input type="submit" value="Submit" class="btn btn-primary"/>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</fieldset>
		{{#each subscribedKeywords}}
			{{> subscribedKeyword}}
		{{/each}}
	</div>
</template>
